.cart-main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    background: #f8f9fa; /* Light background */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.cart-header {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.empty-cart {
    text-align: center;
    padding: 20px;
}

.shop-now-btn, .checkout-btn, .remove-btn, .update-btn, .quantity-btn {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.checkout-btn {
    background-color: #235134; /* Blue */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove-btn {
    background-color: #dc3545; /* Red */
}

.update-btn {
    background-color: #28a745; /* Green */
    margin-right: 10px;
}

.shop-now-btn:hover, 
.checkout-btn:hover, 
.remove-btn:hover, 
.update-btn:hover,
.quantity-btn:hover {
    background-color: #0056b3; /* Darker blue */
    transform: scale(1.05);
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background: #fff; /* White background for items */
}

.item-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-image {
    width: 190px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.quantity-controller {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #6c757d; /* Grey */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ced4da; /* Light grey */
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.total-section {
    margin-top: 30px;
    padding: 15px;
    border-top: 3px solid #007bff; /* Blue */
    text-align: right; /* Align total to the right */
}

.total-amount {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #333;
}
