.order-list-container {
    padding: 20px;
  }
  
  .order-list-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .order-list-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-list-container th,
  .order-list-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .order-list-container th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .order-list-container tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .order-list-container .btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .order-list-container .btn:hover {
    background-color: #0056b3;
  }
  
  .order-list-container {
    padding: 20px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .pagination-item {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .pagination-item:hover {
    background-color: #e9ecef; /* Light background on hover */
    color: #495057; /* Darker text on hover */
  }
  
  .pagination .active {
    background-color: #007bff; /* Primary color for active page */
    color: white;
  }
  
  .pagination .disabled {
    pointer-events: none; /* Disable click events */
    opacity: 0.5; /* Dim the disabled buttons */
  }
  
  .pagination .prev, .pagination .next {
    font-weight: bold; /* Make previous and next buttons bold */
  }
  