.profile-container {
  margin-top: 20px;
}

.tile {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.orders-table-wrapper {
  max-height: 350px;
  overflow-y: auto;
}

.table-sm {
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
}

.submit-btn:hover {
  background-color: #007bff;
}

.submit-btn:active {
  background-color: #0056b3;
}

.submit-btn:focus {
  box-shadow: none;
}
